@font-face {
    font-family: 'CWDangamAsac-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/CWDangamAsac-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'SUIT-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
  font-family: 'SBAggroB';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SBAggroB.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
html{
    font-size: 10px !important;
    scroll-behavior:smooth;
}
body{
	font-family: 'SUIT-Regular';
    background-color: #F4F4F4;
    font-size: inherit;
    overflow-x: hidden;
}
.inner{
	max-width: 128rem;
	margin: auto;
    box-sizing: border-box;
    padding: 0 20px;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: transparent;
    height: 60px;
    background: #ffffff60;
}
header .inner{
    max-width: 1280px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}
header a.logo{
    font-size: 20px;
    font-weight: bold;
}
header nav{}
header nav ul{
    display: flex;
    align-items: center;

}
header nav ul  li{}
header nav ul  li a{
    text-decoration: none;
    padding: 4px 8px;
    font-size: 1.6rem;
}

/* visual section  */
section#visual{
    background: url(../images/visual.png)no-repeat center/cover;
    height: calc(100vh - 6rem);
    width: 100vw;
    padding-top: 6rem;
}
section#visual strong{
    font-family: 'CWDangamAsac-Bold';
    font-size: 10rem;
    margin: 48px auto;
    text-align: center;
    display: block;
}


section#intro{
  background: url(../images/intro_bg.png)no-repeat center/cover;
  height: calc(100vh - 6rem);
  width: 100vw;
}
@media (max-width: 768px) {
  section#intro{
    background: url(../images/mobile_intro_bg.png)no-repeat center/cover;
    height: calc(100vh - 6rem);
    width: 100vw;
  }
}
section#profile{
  background: url(../images/.png)no-repeat center/cover;
  height: calc(100vh - 6rem);
  width: 100vw;
}
footer#closing{
  background: url(../images/closing_bg.png)no-repeat center/cover;
  height: calc(100vh - 6rem);
  width: 100vw;
}


  
  /* 작은 화면 (모바일) */
  @media (max-width: 768px) {
    html {
      font-size: 6px !important; /* 작은 화면에 대한 폰트 크기 */
    }
    section#visual strong{
      font-family: 'CWDangamAsac-Bold';
      font-size: 8rem;
      margin: 100px auto;
      text-align: center;
      display: block;
      white-space: nowrap;
  }
  }
  
  /* 중간 화면 (타블렛) */
  @media (min-width: 769px) and (max-width: 1024px) {
    html {
      font-size: 8px !important; /* 중간 화면에 대한 폰트 크기 */
    }
  }
  
  /* 큰 화면 (데스크톱) */
  @media (min-width: 1025px) {
    html {
      font-size: 10px !important; /* 큰 화면에 대한 폰트 크기 */
    }
  }